.App {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Oxygen", sans-serif;
}

body {
  background-image: url("https://i.pinimg.com/236x/d1/8e/e0/d18ee06b549ebee9b59291af0c2e5e07.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.App footer {
  margin: 10px 0;
  font-size: 11px;
  color: #dbd8e3;
}

.App a {
  color: #a3f7bf;
}
